footer {
    grid-area: footer;
    background-color: #0566a1;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}