.cart-wrapper {
    width: 70%;
    margin: 20px auto;
}

.cart-title {
    padding-bottom: 6px;
    border-bottom: 1px solid #333;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 3px #c0c0c0;
    margin: 9px 0;

    img {
        width: 80px;
        margin-right: 10px;
        height: 120px;
    }

    .cart-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;

        button {
            background-color: #1b5c81;
            color: #fff;
            display: inline-block;
            border: 0;
            padding: 7px;
            border-radius: 7px;
        }
    }
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    button {
        background-color: #1b5c81;
        color: #fff;
        display: inline-block;
        border: 0;
        padding: 7px;
        border-radius: 7px;
        cursor: pointer;
    }

    .totel {
        font-size: 25px;
        font-weight: 500;
    }
}

.order-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 25px;
    .close-modal{
        position:absolute;
        right:20px;
        top:10px;
        cursor: pointer;
        font-size: 20px;
    }
    .alert-success{
        background-color: rgba(0, 128, 0, 0.76);
        color: #fff;
        text-align: center;
        padding: 10px;
        text-transform: capitalize;
        margin-bottom: 10px;
        font-size: 19px;
    }

    table{
        border: 1px solid #c0c0c0;
        tr{
            display: flex;
            justify-content:space-between;
            align-items:center;
            border-bottom: 1px solid #c0c0c0;

            &:last-of-type{
                border-bottom: 0;
            }
            td{
                padding: 10px;
            }
        }
    }
}


